@import 'https://js.arcgis.com/4.28/esri/themes/dark/main.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1280px;
  min-height: 720px;
  overflow: auto;
  /* Allow scroll if window is forced smaller than min */
}

@layer base {

  html,
  body {
    @apply h-full w-full overflow-hidden;
  }
}